# docs
ipython==8.2.0
Jinja2<3.2
Sphinx<4.6
natsort<8.3
sphinx-book-theme<0.4
sphinx-multiversion@git+https://github.com/mikemckiernan/sphinx-multiversion.git@v0.3.0
sphinxcontrib-copydirs@git+https://github.com/mikemckiernan/sphinxcontrib-copydirs.git@v0.3.3
sphinx-external-toc<0.4
sphinx-design<0.4
myst-nb<0.18
linkify-it-py<2.1
sphinxcontrib-mermaid

# smx
mergedeep
PyGithub==1.57
semver<3
pytest<7.3
coverage<6.6
